.container {
    flex-direction: column;
    justify-content: space-between;

}

.contact {
    background-color: darkslateblue;
}

.title {

}

.form {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form input, .form textarea {
    width: 100%;
}

@media screen and (max-width: 560px) {
    .form {
        width: 100%;
    }
}