.title {
    margin: 0 0 30px;
    font-size: 28px;
    position: relative;
}

.title h2 {
    margin: 0;
}

.title::before {
    position: absolute;
    content: '';
    width: 70px;
    height: 1px;
    background-color: black;
    bottom: -30px;
    left: 50%;
    transform: translate(-50%, 50%);
}