@import '../../common/styles/sass/variables';
@import '../../common/styles/sass/mixins';

.work {
  background-color: $secondColor;
  margin: 10px 0;
  border-radius: 15px;

  .image {
    width: 500px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    @include bcgImageCenter();
    position: relative;
    a {

      font-size: 20px;
      text-decoration: none;

    }

    &::before {
      content: '';
      position: absolute;
      background-color: black;
      opacity: 0.4;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }

    @media screen and (max-width: 650px) {
      width: 285px;
    }

    .viewBtn {
      position: relative;
      z-index: 1;
      padding: 10px 30px;
      background-color: $thirdColor;
      color: $mainColor;
      font-size: 20px;
      text-decoration: none;
      border: 2px solid $thirdColor;
      border-radius: 5px;
      &:hover {
        background-color: $mainColor;
        color: $thirdColor;
        transition: all 0.5s ease-in-out 0s;
      }
    }
    @media screen and (max-width: 450px) {
      width: 100%;
    }
  }

  .textContainer {
    padding: 25px 20px;
    max-width:450px;
    @media screen and (max-width: 650px) {
      max-width: 225px;
    }

    .projectTitle {
      @include text($titleFontFamily, 16px, 1.2, 500, $mainColor);
      letter-spacing: 1px;
      margin: 0 0 5px;
    }

    .text {
      @include text($textFontFamily, 12px, 1.8, 400, $mainColor);
    }
  }
  @media screen and (max-width: 450px) {
    width: 100%;
  }

}











