@import './../common/styles/sass/mixins';
@import './../common/styles/sass/variables';

.mainBlock {
  height: 100vh;
  background-color: $mainColor;

  .container {
    justify-content: space-evenly;

    .text {
      width: 300px;

      span {
        @include text($titleFontFamily, 28px, 1.8, 600, $secondColor);
      }

      h1 {
        @include text($titleFontFamily, 48px, 1.2, 600, $thirdColor);
      }

      p {
        @include text($titleFontFamily, 28px, 1.8, 600, $secondColor);
      }

      @media screen and(max-width: 750px) {
        text-align: center;
      }

    }

    .photo {
      width: 800px;
      height: 800px;
      @include bcgImageCenter();
      background-position: top;
      border-radius: 50%;
      @media screen and(max-width: 1800px) {
        width: 600px;
        height: 600px;
      }
      @media screen and(max-width: 1200px) {
        width: 400px;
        height: 400px;
      }
      @media screen and(max-width: 900px) {
        width: 300px;
        height: 300px;
      }
      @media screen and(max-width: 390px) {
        width: 250px;
        height: 250px;
      }
    }
    @media screen and(max-width: 750px){
      flex-direction: column;
    }

  }
}



