@import "./../common/styles/sass/mixins";
@import "./../common/styles/sass/variables";


.nav {
    display: flex;
    width: 450px;
    justify-content: space-between;
    a{
        text-decoration: none;
        @include text($titleFontFamily, 18px, 1.2, 600, $secondColor);
        border-bottom: 2px solid $mainColor;
        padding-bottom: 5px;
        &:hover{
            color: $thirdColor;
            border-color: $thirdColor;
            transition: all 0.5s ease-in-out 0s;
        }

    }
    @media screen and (max-width: 440px) {
        width: 300px;
    }
}