@import "./../common/styles/sass/mixins";
@import "./../common/styles/sass/variables";

.footer {
  background-color: $mainColor;

  .container {
    flex-direction: column;

    .title {
      @include text($titleFontFamily, 18px, 1.2, 500, $secondColor);
    }

    .items {
      margin-bottom: 40px;
      margin-top: 40px;
      display: flex;
      justify-content: space-between;
      width: 600px;
      @media(max-width: 960px) {
        width: 500px;
      }
      @media(max-width: 770px) {
        width: 400px;
      }
      @media(max-width: 650px) {
        width: 350px;
      }
      @media (max-width: 510px) {
        width: 250px;
      }

      .item {
        width: 40px;
        height: 40px;
        .icon{
          width: 40px
        }
      }
    }
  }
}






