@import "./../common/styles/sass/mixins";
@import "./../common/styles/sass/variables";

.footer {
  background-color: darkkhaki;

  .container {
    flex-direction: column;

    .title {
      @include text($titleFontFamily, 18px, 1.2, 500, $secondColor);
    }

    .items {
      display: flex;
      justify-content: space-between;
      width: 400px;
      @media (max-width: 510px) {
        width: 200px;
      }

      .item {
        width: 40px;
        height: 40px;
        background-color: #6b6b6b;
      }
    }
  }
}






